.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}

/* SOCIAL MEDIA */

.footer-social {
  margin-right: 80px;
}

.footer-social-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  color: #f4f4fd;
  background-color: #4d5ae5;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  display: block;
  fill: currentColor;
}

/* SUBSCRIBE */

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-title {
  margin-bottom: 16px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;

  width: 453px;
  height: 40px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;

  padding: 8px 16px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: transparent;

  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-input:focus {
  box-shadow: 0 0 0 1px #31d0aa;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  min-width: 165px;
  height: 40px;

  padding: 8px 24px;

  border: none;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

.footer-subscribe-btn:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.footer-subscribe-icon {
  display: block;
  fill: currentColor;
}